{{ $baseurl := .Site.BaseURL }}
    <div>
        <section id="datecount">
          <h4 id="date"> {{ .Date.Format "2006-01-02" }} </h4>
          <h5 id="wc"> {{ .FuzzyWordCount }} Palabras </h5>
          <h5 id="readtime"> Léelo en solo {{ .ReadingTime }} Min </h5>
          <h5 id="level">Nivel {{ range .Params.niveles }}{{.}}{{end}}</h5>
        </section>
        <!--
        <ul id="categories">
          {{ range .Params.topics }}
            <li><a href="{{ $baseurl }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        -->
        <ul id="tags">
          {{ range .Params.tags }}
            <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div class="otros-articulos">
        <p>
            {{if .Prev}}<span>Puedes seguir con:</span><a class="previous" href="{{.Prev.Permalink}}"><i class="icon-arrow-left"></i> {{.Prev.Title}}</a><br>{{end}}
        </p><p>
            {{if .Next}}<span>Anteriormente:</span><a class="next" href="{{.Next.Permalink}}">{{.Next.Title}} <i class="icon-arrow-right"></i></a>{{end}}
        </p>
    </div>

    <div>
        <section>
             <h4>Recuerda</h4> 
            <p>
                Dejando comentarios en el blog o en el canal de youtube me ayudarás a conocer qué tipo
                de contenido te parece más interesante. Y no olvides pulsar en los enlaces para compartir
                los posts y vídeos porque es la mejor manera que tienes para ayudarme a promocionar
                el blog :) 
            </p>
        </section>
    </div>
