        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> blog </span>
            </a>
            </li>
            <!--
            <li>
            <a href="/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> code </span>
            </a>
            </li>
            <li>
            <a href="/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> talks </span>
            </a>
            </li>
            -->
            <li>
            <a href="/cursos/">
                <span class="icon"> <i aria-hidden="true" class="icon-library"></i></span>
                <span> cursos </span>
            </a>
            </li>
        </ul>

