        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> posts </span>
            </a>
            </li>
            <!--
            <li>
            <a href="/cursos/">
                <span class="icon"> <i aria-hidden="true" class="icon-library"></i></span>
                <span> cursos </span>
            </a>
            </li>
            -->
            <li>
            <a href="/autores/">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> Autores </span>
            </a>
            </li>
        </ul>

