        <ul id="social">
            <li id="follow">
                <span class="title"> Sígueme </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="https://www.twitter.com/ciberado" target="_blank" title="Seguirme en Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="https://www.linkedin.com/in/javier-more" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                        <li> <a href="https://github.com/ciberado" target="_blank" title="GitHub" class="github"><span class="icon icon-github"></span>GitHub</a> </li>
                        <li> <a href="https://www.youtube.com/user/jmVideostream/playlists" target="_blank" title="Youtube" class="youtube"><span class="icon icon-youtube"></span>Youtube</a> </li>
                        <li> <a href="/index.xml" target="_blank" title="RSS feed" class="rss"><span class="icon icon-rss"></span>RSS feed</a> </li>
                    </ul>
                    <span class="subcount">&nbsp;</span>
                </div>
            </li>
            <li id="share">
                <span class="title"> Compartir es <span style="color:#953434">&#10084;</span> </span>
                <div class="dropdown share">
                    <ul class="social">
                        <li> <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Sígueme en Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=blog" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                    </ul>
                  
                    <span class="subcount">&nbsp;</span>
                    
                </div>
            </li>
        </ul>
