        <ul id="social">
            <li id="follow">
                <!--
                <span class="icon icon-rocket"> </span>
                -->
                <span class="title"> Sígueme </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="https://www.twitter.com/ciberado" target="_blank" title="Seguirme en Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="https://www.linkedin.com/in/javier-more" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                        <li> <a href="https://github.com/ciberado" target="_blank" title="GitHub" class="linkedin"><span class="icon icon-github"></span>GitHub</a> </li>
                        <li> <a href="https://github.com/ciberado" target="_blank" title="GitHub" class="linkedin"><span class="icon icon-youtube"></span>GitHub</a> </li>
                        <!--
                        <li> <a href="https://www.youtube.com/user/jmVideostream" target="_blank" title="YouTube" class="linkedin"><span class="icon icon-rss"></span>Youtube</a></li>
                        <li> <a href="http://feeds.feedburner.com/ciberado" target="_blank" title="Suscribir por RSS" class="rss"><span class="icon icon-feed-2"></span>RSS</a> </li>
                        <li> <a href="http://www.facebook.com/stevefrancia" target="_blank" title="Join me on Facebook" class="facebook"><span class="icon icon-facebook"></span>Facebook</a> </li>
                        <li> <a href="http://gplus.to/spf13" target="_blank" title="Google+" class="googleplus"><span class="icon icon-google-plus"></span>Google+</a> </li>
                        <li> <a href="http://slideshare.com/spf13" target="_blank" title="SlideShare" class="slideshare"><span class="icon icon-slideshare"></span>SlideShare</a> </li>
                        -->
                    </ul>
                    <span class="subcount">&nbsp;</span>
                </div>
            </li>
            <li id="share">
                <span class="title"> Compartir es &#10084; </span>
                <div class="dropdown share">
                    <ul class="social">
                        <li> <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Sígueme en Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=blog" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                        <!--
                        <li> <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Join me on Facebook" class="facebook"><span class="icon icon-facebook"></span>Facebook</a> </li>
                        <li> <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="googleplus"><span class="icon icon-google-plus"></span>Google+</a> </li>
                        <li> <a href="http://del.icio.us/post?url={{ .Permalink }}" target="_blank" title="Delicious" class="delicious"><span class="icon icon-delicious"></span>Delicious</a> </li>
                        <li> <a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="reddit"><span class="icon icon-reddit"></span>Reddit</a> </li>
                        <li> <a href="http://www.stumbleupon.com/submit?url={{ .Permalink }}" target="_blank" title="StumbleUpon" class="stumbleupon"><span class="icon icon-stumbleupon"></span>StumbleUpon</a> </li>
                        -->
                    </ul>
                  
                    <span class="subcount">&nbsp;</span>
                    
                </div>
            </li>
        </ul>
